<!DOCTYPE html>
<html lang="de" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Medaillenspiegel</title>

</head>
<body>
<div class="container-fluid">
    <div class="row justify-content-center">
        <h1>Medaillenspiegel</h1>
    </div>
    <section class="app">
        <section class="main justify-content-center entry-list mb-3" v-show="entries.length">
                <div v-for="entry in entries"
                    class="row entry"
                    :key="entry.id"
                    :class="{ editing: entry == editedEntry }"
                >
                    <div class="col rank">
                        <span class="h4">{{ entry.id+1 }}.</span>
                    </div>
                    <div class="col-10 col-lg-3">
                        <label class="h4 view" @dblclick="editEntry(entry)">{{ entry.title }}</label>
                        <input type="text"
                            class="form-control edit"
                            v-model="entry.title"
                            @keyup.enter="doneEdit(entry)"
                            @keyup.esc="cancelEdit(entry)"
                        >
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="progress">
                            <div class="progress-bar bg-gold" role="progressbar" style="width: 30%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-silver" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-bronze" role="progressbar" style="width: 40%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-3 col-lg-1 text-right">
                        <label class="h4 view" @dblclick="editEntry(entry)">{{ entry.gold }} 🥇</label>
                        <input type="number" min="0" max="999" step="1"
                            class="form-control edit"
                            v-model="entry.gold"
                            @keyup.enter="doneEdit(entry)"
                            @keyup.esc="cancelEdit(entry)"
                        >
                    </div>
                    <div class="col-3 col-lg-1 text-right">
                        <label class="h4 view rounded-pill" @dblclick="editEntry(entry)">{{ entry.silver }} 🥈</label>
                        <input type="number" min="0" max="999" step="1"
                            class="form-control edit"
                            v-model="entry.silver"
                            @keyup.enter="doneEdit(entry)"
                            @keyup.esc="cancelEdit(entry)"
                        >
                    </div>
                    <div class="col-3 col-lg-1 text-right">
                        <label class="h4 view" @dblclick="editEntry(entry)">{{ entry.bronze }} 🥉</label>
                        <input type="number" min="0" max="999" step="1"
                            class="form-control edit"
                            v-model="entry.bronze"
                            @keyup.enter="doneEdit(entry)"
                            @keyup.esc="cancelEdit(entry)"
                        >
                    </div>
                    <div class="col-3 col-lg-1 view">
                        <button class="btn btn-outline-secondary" @click="editEntry(entry)">📝</button>
                    </div>
                    <div class="col-3 col-lg-1 btn-group edit">
                        <button class="btn btn-outline-success" @click="doneEdit(entry)">✔️</button><button class="btn btn-outline-warning" @click="cancelEdit(entry)">↩️</button>
                    </div>
                </div>
        </section>
        <footer class="row justify-content-lg-center footer">
            <input class="form-control new-entry"
                autofocus autocomplete="on"
                placeholder="Gib ein neues Land ein und drücke [Enter]"
                v-model="newEntry"
                @keyup.enter="addEntry">
        </footer>
    </section>
</div>
<script src="./dist/bundle.js"></script>
</body>
</html>
