.entry-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.entry-list li {
    position: relative;
    padding: 12px 16px;
    font-size: 1.5rem;
    border-bottom: 1px solid #ededed;
}

.entry-list li .rank {
    float: left;
    margin-right: 10px;
}

.entry-list li .edit {
    display: none;
}

.entry-list li.editing .edit {
    display: block;
}

.entry-list li.editing .view {
    display: none;
}
