.entry-list {
    margin: 0;
    padding: 0;
}

.entry-list .entry {
    position: relative;
    padding: 12px 16px;
    /* font-size: 1.5rem; */
    border-bottom: 1px solid #ededed;
}

.entry-list .entry .edit {
    display: none;
}

.entry-list .entry.editing .edit {
    display: block;
}

.entry-list .entry.editing .view {
    display: none;
}

.bg-gold {
    background-color: gold;
}

.bg-silver {
    background-color: silver;
}

.bg-bronze {
    background-color: #cd7f32;
}
